<template>
<div class="hello">
    <br>
    <div class="container">
        <input v-model="searchKey" placeholder="search name or symbol...">
        <div>
            <ul v-show="checkStatus === 200">
                <li class="text">COIN SYMBOL: {{coinData.coinsymbol}}
                </li>
                <li class="text">COIN PRICE: {{coinData.price}}
                </li>
            </ul>
        </div>

    </div>

</div>
</template>

<script>
  export default {
     name: "coinSearcher",
     data() {
         return {
             searchKey: "",
             coinData: "",
             checkStatus: "404"
         };
     },
     methods: {
         searchCoin: function( param) {
             this.axios
                 .get("http://localhost:3000/coin?search=" + this.searchKey)
                 .then(response => {
                     this.coinData = response.data;
                     this.checkStatus = response.status;
                 })
                 .catch(() => {
                     this.checkStatus = "404";
                 });
         }
     },
     watch: {
         searchKey: {
             handler( value) {
                 this.searchCoin( value);
             }
         }
     }
 };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.button {
     background-color: #4caf50;
    /* Green */
     border: none;
     color: white;
     padding: 3px 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     -webkit-transition-duration: 0.4s;
    /* Safari */
     transition-duration: 0.4s;
     cursor: pointer;
}
 .button1 {
     background-color: white;
     color: black;
     border: 2px solid #4caf50;
}
 .button1:hover {
     background-color: #4caf50;
     color: white;
}
 .text {
     color: #4caf50;
}
</style>
