<template>
  <div id="app">
    <img src="./assets/logo.png" style="width:90px;height:90px;">
    <coinSearcher/>
  </div>
</template>

<script>
import coinSearcher from './components/coinSearcher'

export default {
  name: 'App',
  components: {
    coinSearcher
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
